### $ help gooner ###

# String, not required, defaults to ""
[name] = Program

# String, not required, defaults to ""
[author] = Anonymous

# SemVer format, each digit being from 0-255, not required, defaults to 0.0.0
[version] = 0.0.0

# Filename relative to this config, required, will error if missing
[elf] =